* {
  box-sizing: border-box;
<<<<<<< Updated upstream
=======
}


.side-bar {
  height: 100vh;
  width: 300px;
  padding: 0 20px;
  background-color: #253141;
  float: left;
  .user-name{
    height: 100px;
    width: 100%;

    display: flex;
    align-items: center;
    &__top-items{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name{
        line-height: 20px;
        font-size: 16px;
        height: 100%;
        width: 60px;
        color: #ffffff;
        font-weight: bold;
      }
      &__icons{
        height: 100%;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__create-group{
          color: #ffffff;
        }
        &__edit-account{
          color: #ffffff;
          margin-left: 5px;
        }
      }
    }
  }
  .group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    &__group{
      height: 91px;
      width: 100%;
      padding: 20px 0px 40px 0px;
      &__group-name{
      line-height: 15px;
      font-size: 15px;
      margin-bottom: 5px;
      color: #ffffff;
      font-weight: bold;
      }
      &__latest-message{
      line-height: 11px;
      font-size: 11px;
      color: #ffffff;
      font-weight: bold;
      }
    }
    &__group{
      width: 100%;
      padding: 20px 0px 40px 0px;
      &__group-name{
      line-height: 15px;
      font-size: 15px;
      margin-bottom: 5px;
      color: #ffffff;
      font-weight: bold;
      }
      &__latest-message{
      line-height: 11px;
      font-size: 11px;
      color: #ffffff;
      font-weight: bold;
      }
    }
    &__group{
      height: 91px;
      width: 100%;
      padding: 20px 0px 40px 0px;
      &__group-name{
      line-height: 15px;
      font-size: 15px;
      margin-bottom: 5px;
      color: #ffffff;
      font-weight: bold;
      }
      &__latest-message{
      line-height: 11px;
      font-size: 11px;
      color: #ffffff;
      font-weight: bold;
      }
    }
  }
}


.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    &__left-box{
      margin-top: 35px;
      &__current-group{
      color: #333333;
      font-size: 20px;
      margin-bottom: 15px
      }
      &__member-list{
      font-size: 12px;
      color: #999999;
      }
    }
    &__edit-btn{
      height: 40px;
      width: 72px;
      line-height: 40px;
      color: #38aef0;
      font-size: 16px;
      margin: 28px 0px;
      text-align: center;
    }
  }
  .messages{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    .message{
      padding-bottom: 46px;
      &__upper-info{
        display: flex;
        margin-bottom: 12px;
        &__talker{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__date{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
    }
    &__message{
      padding-bottom: 46px;
      &__upper-info{
        display: flex;
        margin-bottom: 12px;
        &__talker{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__date{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
    }
    &__message{
      padding-bottom: 46px;
      &__upper-info{
        display: flex;
        margin-bottom: 12px;
        &__talker{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        &__date{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__text{
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    form {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;

          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        height: 50px;
        width: 100px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
      }
    }
  }
>>>>>>> Stashed changes
}